/************************************************************************
// For extensive details about creating a Populr theme, please visit
// http://developers.populr.me/theming
*/


// You must import variables.less before importing populr_mixins.less
@import 'kreon';
@import 'variables';
@import 'http://populr.me/assets/developers/populr_mixins.less';
@import 'preboot';
@import 'lato';

// remove these before deploying ...........
@import 'palette-default';


// Call preboot.less's reset to reduce browser inconsistencies
#reset > .global-reset();


/////////////////////////////////////////////////////////////////////////
// Typography defaults

@text-color: #fff;
// @custom-color is defined in variables.less
#populr > .text-color-over-color(@background-color-palette);

// Title text defaults
// @headline-font-family is defined in variables.less
.headline-text() {
  font-family: @headline-font-family;
  font-size: 24px;
  line-height: 1.2;
  text-shadow: 0px 4px 2px @background-color-palette;
}

// Body text defaults
@body-font-family: 'latolight', sans-serif;
.pop-title-text() {
  font-family: @body-font-family;
  font-size: 18px;
  line-height: 1.8;
}

.body-text() {
  font-family: @body-font-family;
  font-size: 14px;
  line-height: 1.8;
}

#pop {
  font-family: @body-font-family;
  color: @text-color;
  em { font-style: italic; }
  b, strong { font-weight: 700; }

  a.link-btn {
    background-color: @background-color-palette !important;
    margin-right: 10px !important;
    margin-left: 0 !important;
  }
  a.link-btn:hover {  background-color: darken(@background-color-palette, 2%) !important; }

  a {
    color: @link-color;
    &:active { color: lighten(@link-color, 20%); }
    &:hover { color: darken(@link-color, 8%); }
  }
}

// End typography defaults
/////////////////////////////////////////////////////////////////////////


/////////////////////////////////////////////////////////////////////////
// Structure

// Content wrapper
#main-content { margin: 0 auto; }

body {
    scrollbar-face-color: rgba(255, 255, 255, .1);
}

// Banner Image Color Overlay
body .fullbg-container {
  margin: 0 auto;
  max-width: 960px;
  background: #361241;
  img {
    opacity: .25;
  }
}

p { font-size: 16px; }

#populr > .inline-logo-title();

// Custom Theme Modifications Scrollbar Webkit Only
::-webkit-scrollbar {
  background-color: rgba(255, 255, 255, .3);
}
::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.4);
} /* this will style the thumb, ignoring the track */



.imagegroup-logo-container {
  margin-top: -200px;
  padding: 20px 30px;
  z-index: 101;
  position: absolute;
  overflow: auto;
  height: 125px;
  width: 60%;
  right: 0;
  img { opacity: .2 }
  &:hover { opacity:;}
}

#main-region {
  margin-bottom: 75px;
}

// Banner Region
#banner {
  position: relative;
  width: 960px;
  height: 250px;
  margin: 40px auto 0;
  overflow: hidden;
}
#banner-color {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: darken(@custom-color, 15%);
  filter:alpha(opacity=20); /* IE */
  -moz-opacity:0.2; /* Mozilla */
  opacity: 0.2; /* CSS3 */
}

// Logo helper
#pop-logo {
  float: left;
  margin: 80px 0 0 30px;
  overflow: hidden;
  position: absolute;
}

// Pop title
.has-logo.has-title h1#pop-title {
  margin-top: 40px;
  padding: 30px;
}
#pop-title, h1#pop-title {
  margin-top: 40px;
  padding: 30px;
}

#pop-title {
  width: 620px;
  position: absolute;
  right: 0;
  .body-text();
  height: 116px;
  overflow: auto;
}


// Assets
.asset-title {
  .headline-text();
  margin: 10px 0;
}

.description, .body {
  .body-text();

  margin: 10px 0;
  ul, ol { margin: .5em 0 .5em 1.5em; }
  ul li { list-style-type: disc; }
  ol li { list-style-type: decimal; }
}

// Text asset styling
.asset-type-text.asset-size-1 {
  background-color: @large-asset-background;
  .asset-title {
    font-size: 36px;
    text-align: center;
  }
  .description, .body, .description li, .body li,  {
    font-size: 18px;
    text-align: center;
  }
}


/////////////////////////////////////////////////////////////////////////
// Set Background Colors

.columnizer-row-contents-embedgroup, .columnizer-row-contents-documentgroup {
  .columnizer-col.columnizer-col1 {
    background-color: @large-asset-background;
  }
}

.columnizer-row-contents-text-text, .columnizer-row-contents-documentgroup-documentgroup, .columnizer-row-contents-embedgroup-embedgroup {
  .columnizer-col.columnizer-col2 {
    &:first-child { background-color: @light-background-color-palette; }
    &:last-child { background-color: @mid-background-color-palette; }
  }
}

.columnizer-row-contents-text-text-text, .columnizer-row-contents-documentgroup-documentgroup-documentgroup, .columnizer-row-contents-embedgroup-embedgroup-embedgroup {
  .columnizer-col.columnizer-col3 {
    &:first-child { background-color: @light-background-color-palette; }
    &:last-child { background-color: @light-background-color-palette; }
    background-color: @mid-background-color-palette;
  }
}




// Image asset styling
#logo-region {
  .populr-image-slider {
    opacity: .2;
    &:hover { opacity: .2; }
  }
}
#populr > #image-slider-themes > .basic();
.asset.asset-type-imagegroup {
  padding: 0;
}
.imagegroup-container {
  padding: 20px 30px;
  z-index: 101;
  position: absolute;
  overflow: auto;
  height: 90px;
  display: none;
}
.asset.asset-type-imagegroup.asset-size-1, .asset.asset-type-imagegroup.asset-size-2 {
  .imagegroup-container { margin-top: -275px; height: 200px; }
}
.asset.asset-type-imagegroup.asset-size-3 {
  .imagegroup-container {
    margin-top: -155px;
  }
}
.small-image {
  display: none;
}
.middle-image {
  display: none;
}


// Image Hover style
.asset-inner {
  &:hover {
    .populr-image-slider {
      opacity: .25;
    }
    .imagegroup-container {
      display: block;
    }
  }
}

.cycle-prev, .cycle-next { display: none; }
.zoom-glass {
  i { font-style: normal !important; }
  position: absolute;
  right: 0;
  padding: 20px 20px 0 0;
}
.zoom-text {
  margin-top: 10px;
  font-weight: lighter;
}

// Document asset styling
.asset.asset-type-documentgroup.asset-size-1 {
  .document-container {
    width: 280px;
    float:left;
    margin: 20px 20px 20px 0;
    padding-top: 15px;
    .document-title-text {
      width: 200px;
      float: right;
    }
  }
}
.asset.asset-type-documentgroup.asset-size-2 {
  .document-container {
    margin: 20px 0 20px 0;
    width: 420px;
    float:left;
    .document-title-text {
      width: 337px;
      float: right;
    }
  }
}
.asset.asset-type-documentgroup.asset-size-3 {
  .document-container {
    margin: 20px 0 20px 0;
    width: 200px;
    float:left;
    .document-title-text {
      width: 120px;
      float: left;
    }
  }
}

.documents {
  margin: 10px auto;
  li {
    margin-bottom: 1em;
    a {
      text-decoration: none;
      line-height: 1.2;
      i.icon { font-style: normal !important; }
      .document-title-text {
        .headline-text();
        color: @text-color;
        &:hover { color: darken(@text-color, 16%); }
      }
    }
  }
  .download-icon-background {
    margin: -15px 20px 0 0;
    height: 30px;
    width: 30px;
    padding: 15px;
    background-color: lighten(@background-color-palette, 50%);
    float: left;
    border-radius: 50%;
    i {
      margin-left: -2px;
      color: @text-color;
      text-shadow: 0px 4px 2px @background-color-palette;
      font-style: normal !important;
    }
  }
}



// Clearfix
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: ' ';
  clear: both;
  height: 0;
}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */

// End structure
/////////////////////////////////////////////////////////////////////////


/////////////////////////////////////////////////////////////////////////
// Mobile
//
// The Populr mobile reset will handle some of the basics of mobilizing 
// your theme, such as stacking all of the assets vertically and scaling 
// them to 100% of the width of their container. However, you'll have to 
// fine tune the styling to make your theme look really good on mobile
// devices.

@media screen and (max-width: 960px) {
  #populr > .mobile-reset();

  // Edit the grid for mobile
  .columnizer-row-inner, #pop-title { max-width: 640px; }
  .columnizer-col { margin: 0 !important; }

  // size 1 image asset fix for mobile
  .asset.asset-type-imagegroup.asset-size-1 .imagegroup-container {
    margin-top: -180px;
    height: 100px;
  }

  // Edit the typography for mobile
  #pop-title { font-size: 40px !important; }
  .asset-title { font-size: 24px !important; }
  .description, .body, .description li, .body li { font-size: 14px !important; }
  .asset-title, .description, .body, .description li, .body li { text-align: left !important; }
}

@media screen and (max-width: 600px) {
  #pop-title { font-size: 32px !important; }
  .asset-title { font-size: 20px !important; }
}
