/************************************************************************
// For extensive details about creating a Populr theme, please visit
// http://developers.populr.me/theming
*/


// You must import variables.less before importing populr_mixins.less
@import 'kreon';
@import 'variables';
@import 'http://populr.me/assets/developers/populr_mixins.less';
@import 'preboot';
@import 'lato';

// remove these before deploying ...........
@import 'palette-default';
// @import 'palette-custom';
// @import 'palette-charcoal';
// @import 'palette-smoke';
// @import 'palette-white';
// @import 'palette-black';



// Call preboot.less's reset to reduce browser inconsistencies
#reset > .global-reset();

#populr > .inline-logo-title();


/////////////////////////////////////////////////////////////////////////
// Typography defaults

@white: #fff;
@light-gray: #828282;
@dark-gray: #333333;
@banner-background:  darken(@custom-color, 15%);


// text color variables based on background color
.asset-title, .document-title-text {
  #populr > .text-color-over-color(@mid-background-color-palette);
}
#pop-title {
  #populr > .text-color-over-color(@banner-background);
}
.body, .description {
  #populr > .text-color-over-color(@light-background-color-palette);
}


// Title text defaults
// @headline-font-family is defined in variables.less
.headline-text() {
  font-family: @headline-font-family;
  font-size: 24px;
  line-height: 1.2;
  text-shadow: 0px 4px 2px @custom-color;
}

.document-text() {
  font-family: @headline-font-family;
  font-size: 16.5px;
  line-height: 1.5;
  text-shadow: 0px 4px 2px @custom-color;
}

// Body text defaults
@body-font-family: 'latolight', sans-serif;
.pop-title-text() {
  font-family: @body-font-family;
  font-size: 18px;
  line-height: 1.8;
}

.body-text() {
  font-family: @body-font-family;
  font-size: 14px;
  line-height: 1.8;
}

#pop {
  font-family: @body-font-family;
  color: @white;
  em { font-style: italic; }
  b, strong { font-weight: 700; }
}

// End typography defaults
/////////////////////////////////////////////////////////////////////////


/////////////////////////////////////////////////////////////////////////
// Structure

// Content wrapper
#main-content { margin: 0 auto; }

body {
    scrollbar-face-color: rgba(255, 255, 255, .1);
}

// Banner Image Color Overlay
body .fullbg-container {
  margin: 0 auto;
  max-width: 960px;
  img {
    opacity: .25;
  }
}

p { font-size: 16px; }


a.link-btn { margin-right: 10px !important; }


// Custom Theme Modifications Scrollbar Webkit Only
::-webkit-scrollbar {
  background-color: rgba(255, 255, 255, .3);
}
::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.4);
} /* this will style the thumb, ignoring the track */

.pplr-icon {
  color: @white;
  &:hover { color: darken(@white, 16%); }
  text-shadow: 0px 4px 2px @custom-color;
}

.imagegroup-logo-container {
  margin-top: -200px;
  padding: 20px 30px;
  z-index: 101;
  position: absolute;
  overflow: auto;
  height: 125px;
  width: 60%;
  right: 0;
  img { opacity: .2 }
  &:hover { opacity:;}
}

#main-region {
  margin-bottom: 75px;
}

// Banner Region
#banner {
  position: relative;
  width: 960px;
  height: 250px;
  margin: 40px auto 0;
  overflow: hidden;
}
#banner-color:empty {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: @custom-color;
}
#banner-color {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: @banner-background;
  filter:alpha(opacity=40); /* IE */
  -moz-opacity:0.4; /* Mozilla */
  opacity: 0.4; /* CSS3 */
}

// Logo helper
#pop-logo {
  float: left;
  margin: 80px 0 0 30px;
  overflow: hidden;
  position: absolute;
}

// Pop title
.has-logo.has-title h1#pop-title {
  margin-top: 40px;
  padding: 30px;
}
#pop-title, h1#pop-title {
  margin-top: 40px;
  padding: 30px;
}

#pop-title {
  width: 620px;
  position: absolute;
  right: 0;
  .body-text();
  height: 116px;
  overflow: auto;
}


// Assets
.asset-title {
  .headline-text();
  margin: 10px 0;
}

.description, .body {
  .body-text();

  margin: 10px 0;
  ul, ol { margin: .5em 0 .5em 1.5em; }
  ul li { list-style-type: disc; }
  ol li { list-style-type: decimal; }
}

// Text asset styling
.asset-type-text.asset-size-1 {
  .asset-title {
    font-size: 36px;
    text-align: center;
  }
  .description, .body, .description li, .body li,  {
    font-size: 18px;
    text-align: center;
  }
}


/////////////////////////////////////////////////////////////////////////
// Set Background Colors


.columnizer-col.columnizer-col1 {
  background-color: @large-asset-background;
  #populr > .link-button(@large-alt-custom-color);
  #populr > .icon(@large-alt-custom-color);
  .link-btn + .link-btn { margin-left: 0 !important; margin-right: 20px !important; }
}



.columnizer-col.columnizer-col2 {
  &:first-child {
    background-color: @light-background-color-palette;
    #populr > .link-button(@light-alt-custom-color);
    #populr > .icon(@light-alt-custom-color);
    .link-btn + .link-btn, .link-btn:first-child { margin-left: 0 !important; margin-right: 20px !important; }
  }
  &:last-child {
    background-color: @mid-background-color-palette;
    #populr > .link-button(@mid-alt-custom-color);
    #populr > .icon(@mid-alt-custom-color);
    .link-btn + .link-btn { margin-left: 0 !important; margin-right: 20px !important; }
  }
}

.lt-ie8 {
  .columnizer-cols2 {
    .columnizer-row-inner {
      .asset-container + .asset-container {
        background-color: @mid-background-color-palette;
        #populr > .link-button(@mid-alt-custom-color);
        #populr > .icon(@mid-alt-custom-color);
        .link-btn + .link-btn { margin-left: 0 !important; margin-right: 20px !important; }
      }
    }
  }
}

.columnizer-col.columnizer-col3 {
  .link-btn + .link-btn { margin-left: 0 !important; }
  &:first-child, &:last-child {
    background-color: @light-background-color-palette;
    #populr > .link-button(@light-alt-custom-color);
    #populr > .icon(@light-alt-custom-color);
    .link-btn + .link-btn { margin-left: 0 !important; margin-right: 20px !important; }
  }
  background-color: @mid-background-color-palette;
  #populr > .link-button(@mid-alt-custom-color);
  #populr > .icon(@mid-alt-custom-color);
  .link-btn + .link-btn { margin-left: 0 !important; margin-right: 20px !important; }
}

.lt-ie8 {
  .columnizer-cols3 {
    .columnizer-row-inner {
      .asset-container + .asset-container + .asset-container {
        background-color: @light-background-color-palette;
        #populr > .link-button(@light-alt-custom-color);
        #populr > .icon(@light-alt-custom-color);
        .link-btn + .link-btn { margin-left: 0 !important; margin-right: 20px !important; }
      }
    }
  }
}


// Image asset styling
#logo-region {
  .populr-image-slider {
    opacity: .2;
    &:hover {
      opacity: .2;
      filter:alpha(opacity=20); /* IE */
      -moz-opacity:0.2; /* Mozilla */
    }
  }
}
#populr > #image-slider-themes > .basic();
.asset.asset-type-imagegroup {
  padding: 0;
}
.imagegroup-container {
  padding: 20px 30px;
  z-index: 101;
  position: absolute;
  overflow: auto;
  height: 90px;
  display: none;
}
.asset.asset-type-imagegroup.asset-size-1, .asset.asset-type-imagegroup.asset-size-2 {
  .imagegroup-container { margin-top: -275px; height: 200px; }
}
.asset.asset-type-imagegroup.asset-size-3 {
  .imagegroup-container {
    margin-top: -155px;
  }
}

.columnizer-row-inner {
  .asset-container:nth-child(odd) {
    .asset.asset-type-imagegroup.asset-size-3 {
      .asset-inner {
        .middle-image {
          display: none;
        }
      }
    }
  }
  .asset-container:nth-child(even) {
    .asset.asset-type-imagegroup.asset-size-3 {
      .asset-inner {
        .small-image {
          display: none;
        }
      }
    }
  }
}


// Image Hover style
.asset-inner {
  &:hover {
    .populr-image-slider {
      opacity: .25;
      filter:alpha(opacity=25); /* IE */
      -moz-opacity:0.25; /* Mozilla */
    }
    .imagegroup-container {
      display: block;
    }
  }
  .lt-ie8 {
    .populr-image-slider:hover { filter:alpha(opacity=25); }
  }
}

.cycle-prev, .cycle-next { display: none; }
.zoom-glass {
  i { font-style: normal !important; }
  position: absolute;
  right: 0;
  padding: 20px 20px 0 0;
}
.zoom-text {
  margin-top: 10px;
  font-weight: lighter;
}

// Document asset styling
.asset.asset-type-documentgroup.asset-size-1 {
  .document-container {
    width: 280px;
    float:left;
    margin: 20px 20px 20px 0;
    padding-top: 15px;
    .document-title-text {
      width: 200px;
    }
  }
}
.asset.asset-type-documentgroup.asset-size-2 {
  .documents {
    width: 420px;
    .document-container {
      margin: 20px 0 20px 0;
      float: right;
      .document-title-text {
        max-width: 300px;
        margin-right: 20px;
      }
      .download-icon-background {
        margin-right: 30px;
      }
    }
  }
}
.columnizer-row-inner {
  .asset-container:nth-child(odd) {
    .asset.asset-type-documentgroup.asset-size-3 {
      .documents {
        .document-container {
          margin: 20px 0 20px 0;
          width: 185px;
          float: right;
          .document-title-text {
            width: 100px;
          }
        }
      }
    }
  }
  .asset-container:nth-child(even) {
    .asset.asset-type-documentgroup.asset-size-3 {
      .documents {
        width: 410px;
        .document-container {
          margin: 20px 0 20px 0;
          float: right;
          .document-title-text {
            max-width: 300px;
            margin-right: 20px;
          }
          .download-icon-background {
            margin-right: 30px;
          }
        }
      }
    }
  }
}

.documents {
  margin: 10px auto;
  li {
    text-align: right;
    margin-bottom: 1em;
    a {
      text-decoration: none;
      line-height: 1.2;
      i.icon { font-style: normal !important; }
      .document-title-text {
        padding-top: 18px;
        float: left;
        .document-text();
      }
    }
  }
  .download-icon-background {
    height: 30px;
    width: 30px;
    padding: 15px;
    float: right;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    behavior: url(/js/PIE.htc);
    i {
      margin-left: -2px;
      font-style: normal !important;
    }
  }
}



// Clearfix
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: ' ';
  clear: both;
  height: 0;
}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */

// End structure
/////////////////////////////////////////////////////////////////////////


/////////////////////////////////////////////////////////////////////////
// Mobile
//
// The Populr mobile reset will handle some of the basics of mobilizing 
// your theme, such as stacking all of the assets vertically and scaling 
// them to 100% of the width of their container. However, you'll have to 
// fine tune the styling to make your theme look really good on mobile
// devices.

@media screen and (max-width: 960px) {
  #populr > .mobile-reset();

  // Edit the grid for mobile
  .columnizer-row-inner, #banner, #banner-color { max-width: 640px; }
  .columnizer-col { margin: 0 !important; }

  // size 1 image asset fix for mobile
  .asset.asset-type-imagegroup.asset-size-1 .imagegroup-container {
    margin-top: -180px;
    height: 100px;
  }

  // Edit the typography for mobile
  #pop-title { font-size: 40px !important; }
  .asset-title { font-size: 24px !important; }
  .description, .body, .description li, .body li { font-size: 14px !important; }
  .asset-title, .description, .body, .description li, .body li { text-align: left !important; }
}

@media screen and (max-width: 600px) {
  #pop-title { font-size: 32px !important; }
  .asset-title { font-size: 20px !important; }
}
