@large-asset-background: lighten(@custom-color, 5%);

@link-color: darken(spin(@custom-color, 180), 50%);

@light-background-color-palette: lighten(@custom-color, 25%);
@mid-background-color-palette: lighten(@custom-color, 10%);

body {
	background-color: @custom-color !important;
}

.download-icon-background {
 background-color: @custom-color;
 i {
    margin-left: -2px;
    color: @white;
    text-shadow: 0px 4px 2px darken(@custom-color, 20%);
    font-style: normal !important;
  }
}