
@light-background-color-palette: lighten(@mid-background-color-palette, 5%);
@mid-background-color-palette: lighten(@custom-color, 10%);
@large-asset-background: darken(@mid-background-color-palette, 5%);

body {
	background-color: @custom-color !important;
}

.download-icon-background {
 background-color: @custom-color;
 i {
    margin-left: -2px;
    color: @white;
    text-shadow: 0px 4px 2px darken(@custom-color, 20%);
    font-style: normal !important;
  }
}

.icon-cloud-download {
  color: @white !important;
  text-shadow: 0px 4px 2px darken(@custom-color, 20%)
}
.download-icon-background {
  background-color: lighten(@custom-color, 5%) !important;
}

a {
  color: darken(@link-color, 15%) !important;
  &:hover { color: lighten(@link-color, 2%) !important; }
}
a.link-btn { background-color: lighten(@custom-color, 10%) !important; }
a.link-btn:hover { background-color: lighten(@custom-color, 13%) !important; }

.document-title-text { &:hover { color: darken(@white, 60%) !important; } }


