@custom-color: #361241 !important;

@light-alt-custom-color: #fff;
.light-alt-background-color(@color-param) when(luma(@color-param) > 75%) {
  @light-alt-custom-color: darken(desaturate(@custom-color, 15%), 10%);
}
.light-alt-background-color(@color-param) when(luma(@color-param) =< 75%) {
  @light-alt-custom-color: lighten(saturate(@custom-color, 15%), 10%);
}


@mid-alt-custom-color: #fff;
.mid-alt-background-color(@color-param) when(luma(@color-param) > 75%) {
  @mid-alt-custom-color: darken(desaturate(@custom-color, 15%), 16%);
}
.mid-alt-background-color(@color-param) when(luma(@color-param) =< 75%) {
  @mid-alt-custom-color: lighten(saturate(@custom-color, 15%), 16%);
}


@large-alt-custom-color: #fff;
.large-alt-background-color(@color-param) when(luma(@color-param) > 75%) {
  @large-alt-custom-color: darken(desaturate(@custom-color, 15%), 15%);
}
.large-alt-background-color(@color-param) when(luma(@color-param) =< 75%) {
  @large-alt-custom-color: lighten(saturate(@custom-color, 15%), 15%);
}



@large-asset-background: #502F62;
@background-icon-color: #815291;

@background-color-palette: @custom-color;
@light-background-color-palette: #815291;
@mid-background-color-palette: #52295F;

.light-alt-background-color(@light-background-color-palette);
.mid-alt-background-color(@mid-background-color-palette);
.large-alt-background-color(@large-asset-background);




body { background-color: @background-color-palette !important}

.download-icon-background {
 background-color: lighten(@background-icon-color, 10%);
 i {
    color: @white;
    text-shadow: 0px 4px 2px darken(@custom-color, 20%);
  }
}

a {
  color: @link-color;
  &:hover { color: lighten(@link-color, 5%) !important; }
}

.document-title-text {
  &:hover { color: darken(@white, 10%) !important; }
}