@custom-color: #000;

@background-color-palette: @custom-color;

@light-background-color-palette: lighten(@background-color-palette, 9%);
@mid-background-color-palette: lighten(@background-color-palette, 7%);
@large-asset-background: lighten(@background-color-palette, 5%);
@background-icon-color: @custom-color;


body {
	background-color: @background-color-palette !important;
}
// .download-icon-background { background-color: lighten(@custom-color, 15%); }

// .icon-cloud-download {
// 	color: @white !important;
//   text-shadow: 0px 4px 2px darken(@custom-color, 20%)
// }

a {
  color: @link-color !important;
  &:hover { color: lighten(@link-color, 10%) !important; }
}

