@custom-color: #DAD6CA !important;

@background-color-palette: @custom-color;

@light-background-color-palette: darken(@custom-color, 3%);
@mid-background-color-palette: darken(@custom-color, 6%);
@large-asset-background: darken(@custom-color, 9%);
@background-icon-color: darken(@custom-color, 20%);


body {
	background-color: @background-color-palette !important;
}

a {
  color: darken(@link-color, 15%) !important;
  &:hover { color: lighten(@link-color, 2%) !important; }
}
