@custom-color: #F5EEE2 !important;

@background-color-palette: @custom-color;

@large-asset-background: darken(@custom-color, 7%);
@light-background-color-palette: darken(@custom-color, 3%);
@mid-background-color-palette: darken(@custom-color, 5%);
@background-icon-color: @custom-color;


body {
	background-color: @custom-color !important;
}


a {
  color:@link-color !important;
  &:hover { color: lighten(@link-color, 8%) !important; }
}


